<mat-card-title>CHANGE YOUR PASSWORD</mat-card-title>
<mat-card-content class="form-container">
  <form class="form" [formGroup]="passwordForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="hide.password ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide.password = !hide.password"
      >
        <mat-icon>{{
          hide.password ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input
        formControlName="newPassword"
        matInput
        [type]="hide.newPassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide.newPassword = !hide.newPassword"
      >
        <mat-icon>{{
          hide.newPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="passwordForm.controls['newPassword'].hasError('required')"
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm New Password</mat-label>
      <input
        formControlName="confirmNewPassword"
        matInput
        [type]="hide.confirmNewPassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide.confirmNewPassword = !hide.confirmNewPassword"
      >
        <mat-icon>{{
          hide.confirmNewPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="passwordForm.controls['confirmNewPassword'].hasError('required')"
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-error
      *ngIf="
        passwordForm.hasError('notmatched') &&
        !passwordForm.controls['confirmNewPassword'].hasError('required') &&
        !passwordForm.controls['newPassword'].hasError('required')
      "
    >
      New passwords do not match. Please try again
    </mat-error>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-stroked-button color="primary" routerLink="/user/edit">
    Back
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="saveChanges()"
    [disabled]="passwordForm.invalid"
  >
    Save
  </button>
</mat-card-actions>
