.mat-elevation-z8 {
  width: 100%;
}
table {
  width: 100%;
}
td {
  font-size: 12px;
}
th {
  font-size: 14px;
}
tr.mat-header-row {
  height: 45px;
}
tr.mat-row {
  height: 35px;
}
.book {
  width: 10%;
}
.name {
  width: 50%;
}
.author {
  width: 20%;
}
.year {
  width: 10%;
}
.favorite {
  width: 10%;
}
.bookImg {
  max-height: 60px;
}

