<mat-card-title>LOGIN </mat-card-title>
<mat-card-subtitle>Please authorise </mat-card-subtitle>
<mat-card-content>
  <form class="example-form" [formGroup]="authForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          authForm.controls['email'].hasError('email') &&
          !authForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="authForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="authForm.controls['email'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-stroked-button color="primary" routerLink="../signup">
    SignUp
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="signIn()"
    [disabled]="authForm.invalid"
  >
    SignIn
  </button>
</mat-card-actions>
