.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .card {
    margin-top: 1%;
    height: 5%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
  }
  .table {
    height: 95%;
    width: 95%;
  }
}
