.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .card {
    width: 550px;
/*    min-height: 90%;*/
    box-sizing: border-box;
    &__wrap {
      text-align: center;
    }
  }
}
